body{
    font-weight: 550 ;
    font-size: 18px ;
    font-family: 'Sanchez Regular', sans-serif ;
    color:#011633 ;
    padding: 30px ;
    /* height: 100vh ; */
    margin: 0 ;
}

#titulo{
    font-size: 56px !important;
}

@media screen and (max-width: 700px) {
    main{
        margin-left: 8vh !important;
    }
    #titulo{
        font-size: 24px !important;
    }
    .tabelasss{
        border: 2px solid #011633  ;
        width: 40vh  !important;
        height: 50vh ;
        padding-bottom: 40px ;
        overflow: auto ;
        border-radius: 3px !important;
    }
}

@media screen and (max-width: 600px) {
    #titulo{
        font-size: 24px !important;
    }
    .tabelasss{
        border: 2px solid #011633  ;
        width: 40vh !important;
        height: 50vh ;
        padding-bottom: 40px ;
        overflow: auto ;
        border-radius: 3px !important;
    }
}

main{
    margin-top: 8vh !important;
}

.Alunoid{
    font-size: 20px ;
}

.Usuarioid{
    font-size: 16px ;
    opacity: 0.3 ;
    font-weight: 400 ;  
}
header{
    display:flex ;
    justify-content: space-between ;
}

.Espaco1{

} 

.Espaco1 p {
    margin: 0 ;
}

.Espaco1 img{
    margin-bottom: 10px ;
} 

.Imgmensagem{
    width: 50px ;
    
}

.Imgperfil{
    width: 80px ;
    margin-left: 20px ;
}

.Espaco2{
    display: flex ;
    align-items: center ;
}

.botaomaterias {
    width: 110px !important ;
    height: 30px !important ;
    border-radius: 5px ;
    cursor: pointer ;
    background-color: white !important ;
    border: 2px solid #011633  ;
    margin: 0 !important ;
}

.botaomaterias:hover {
    /* background-color: blue ; */
}

.materias {
    position: relative ;
    display: inline-block ;
    margin-right: 0px ;
}

.materias-child {
    display: none ;
    min-width: 200px ;
    position: fixed ;
    background-color: white ;

}


.materias:hover .materias-child {
    display: block ;
}


.blocos{
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    display:flex ;
    justify-content: space-evenly;
    width: 100% ;
    align-items: center ;
}

.data{
    display:flex ;
    align-items: center ;
}

.conteudo{
    display:flex ;
    flex-direction: column ;
    align-items: center ;
    /* justify-content: center ; */
    width: 100% ;
}

.data input{
    height: min-content ;
}

.data p{
    margin: 10px ;
}

.data input{
    width: 115px ;
    height: 24px ;
    border: 2px solid #011633  ;
    border-radius: 5px ;
}

.barralateral{
    width: 300px ;
    margin-top: 30px ;
}

.barralateral li{
    margin: 10px 0 ;
}

.tabelasss{
    border: 2px solid #011633  ;
    width: 150vh ;
    height: 50vh ;
    padding-bottom: 40px ;
    overflow: auto ;
    border-radius: 3px !important;

}

.dados{
    display: flex ;
    justify-content: space-between ;
    padding: 10px ;
    border-bottom: 2px solid #011633 ;
}

.dados p {
    margin: 0 ;
}

.botaovoltar button {
    width: 90px ;
    height: 30px ;
    margin-top: 10px ;
    background-color: #011633 ;
    color: white ;
    border-radius: 5px ;
}

.botaovoltar {
    width: 100% ;
    
}

