* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-bottom: 0px;
    width: 100%;
    color: #011633;
    margin-left: 90px;
}

main #titulo {
    margin-top: 50px !important;
    text-align: center !important;
    font-size: 60px;
}

main #informacoes {
    text-align: center;
    padding-top: 20px !important;
    font-size: 20px;
}

.tabela-conteudo{
    display: flex;
    justify-content: center;
}

.filtros {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    gap: 560px !important;
    margin-top: 30px !important;
}

.filtros-data{
    display: flex;
    align-items: center;
    gap: 10px;
}

.de{
    gap: 7px;
    display: flex;
    align-items: center;
}

.ate{
    gap: 7px;
    display: flex;
    align-items: center;
}

.de input, .ate input {
    width: 115px ;
    height: 28px ;
    border: 1px solid #011633  ;
    border-radius: 2px ;
    font-size: 16px;
}

#select {
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #011633;
    color: #011633;
    border-radius: 2px;
    width: 130px;
    height: 28px;
}

option {
    background: transparent;
    font-size: 14px;
    font-family: 'Sanchez', serif;
    border: 2px solid #011633 !important;
    color: #011633;
    border-color: #011633;
}

#name {
    background-color: #ffffff;
}

.tabelas {
    height: 400px !important;
    width: 1000px !important;
    margin-top: 5px !important;
    border: 2px solid #011633 !important; 
    box-shadow: none !important;
    border-collapse: collapse !important;
}
th, td {
    border: 2px solid #011633 !important;
}

.tabelas #data{
    padding-left: 10px !important;
    width: 750px ;
}
.tabelas #conteudo{
    padding-right: 20px !important;
}

@media screen and (max-width: 1440px) {
    main {
        padding-left: 90px !important;
    }
    main #titulo{
        margin-top: 30px !important;
        font-size: 60px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    main #informacoes{
        font-size: 22px !important;
        padding-top: 5px !important;
    }
    main .filtros {
        align-items: center !important;
        margin-top: 30px !important;
        display: flex !important;
        justify-content: center !important;
        gap: 450px !important;
    }
    main .filtros-data {
        align-items: center !important;
        padding-left: 10px !important ;
        padding-top: 0px !important;
        display: flex !important;
        font-size: 18px !important;
        gap: 10px !important;
        justify-content: center;
    }
    main .filtros-data input{
        width: 150px;
        display: flex !important;
        font-size: 18px !important;
        gap: 3px !important;
    }
    main .materias{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 0px!important;
    }

    main .materias #select{
        color: #011633;
        font-size: 18px;
        padding-left: 0px !important;
        width: 140px !important;
    }
    main .tabela-conteudo{
        padding: 0 20px !important;
    }

    main .tabelas{
        font-size: 18px !important;
    }
    .tabelas #data{
        width: 700px !important;
    }
    .tabelas #conteudo{
        padding: 0 10px !important;
    }
}

@media screen and (max-width: 1024px) {
    main {
        padding-left: 90px !important;
    }
    main #titulo{
        margin-top: 30px !important;
        font-size: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    main #informacoes{
        font-size: 16px !important;
        padding-top: 5px !important;
    }
    main .filtros {
        align-items: center !important;
        margin-top: 30px !important;
        display: flex !important;
        justify-content: center !important;
        gap: 440px !important;
    }
    main .filtros-data {
        align-items: center !important;
        padding-left: 10px !important ;
        padding-top: 0px !important;
        display: flex !important;
        font-size: 14px !important;
        gap: 10px !important;
        justify-content: center;
    }
    main .filtros-data input{
        width: 120px;
        display: flex !important;
        font-size: 14px !important;
        gap: 3px !important;
    }
    main .materias{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 0px!important;
    }

    main .materias #select{
        font-size: 14px;
        padding-left: 0px !important;
        width: 120px !important;
    }
    main .tabela-conteudo{
        padding: 0 20px !important;
    }

    main .tabelas{
        font-size: 16px !important;
    }
    .tabelas #data{
        width: 700px !important;
    }
    .tabelas #conteudo{
        padding: 0 10px !important;
    }
}

@media screen and (max-width: 780px) {
    main {
        padding-left: 90px !important;
    }
    main #titulo{
        margin-top: 30px !important;
        font-size: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    main #informacoes{
        font-size: 16px !important;
        padding-top: 5px !important;
    }
    main .filtros {
        align-items: center !important;
        margin-top: 30px !important;
        display: flex !important;
        justify-content: center !important;
        gap: 180px !important;
    }
    main .filtros-data {
        align-items: center !important;
        padding-left: 10px !important ;
        padding-top: 0px !important;
        display: flex !important;
        font-size: 12px !important;
        gap: 10px !important;
        justify-content: center;
    }
    main .filtros-data input{
        width: 120px;
        display: flex !important;
        font-size: 14px !important;
        gap: 3px !important;
    }
    main .materias{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 0px!important;
    }

    main .materias #select{
        font-size: 14px;
        padding-left: 0px !important;
        width: 120px !important;
    }
    main .tabela-conteudo{
        padding: 0 20px !important;
    }

    main .tabelas{
        font-size: 16px !important;
    }
    .tabelas #data{
        width: 450px !important;
    }
    .tabelas #conteudo{
        padding: 0 10px !important;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding-left: 90px !important;
    }
    main #titulo{
        margin-top: 50px !important;
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    main #informacoes{
        font-size: 12px !important;
        padding-top: 5px !important;
    }
    main .filtros {
        align-items: center !important;
        margin-top: 0 !important;
        display: inline !important;
        justify-content: center !important;
        gap: 0 !important;
    }
    main .filtros-data {
        padding-left: 10px !important ;
        padding-top: 15px !important;
        display: flex !important;
        font-size: 12px !important;
        gap: 10px !important;
        justify-content: center;
    }
    main .filtros-data input{
        width: 100px;
        display: flex !important;
        font-size: 12px !important;
        gap: 3px !important;
    }
    main .materias{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 5px!important;
    }

    main .materias #select{
        font-size: 12px;
        padding-left: 0px !important;
        width: 120px !important;
    }
    main .tabela-conteudo{
        padding: 0 3px !important;
    }
    main .tabelas{
        font-size: 14px !important;
    }
    .tabelas #data{
        width: 120px !important;
    }
    .tabelas #conteudo{
        padding: 0 00px !important;
    }
}

@media screen and (max-width: 320px) {
    main {
        padding-left: 90px !important;
    }
    main #titulo{
        margin-top: 50px !important;
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    main #informacoes{
        font-size: 12px !important;
        padding-top: 5px !important;
    }
    main .filtros {
        align-items: center !important;
        margin-top: 0 !important;
        display: inline !important;
        justify-content: center !important;
        gap: 0 !important;
    }
    main .filtros-data {
        padding-left: 10px !important ;
        padding-top: 5px !important;
        display: flex !important;
        font-size: 12px !important;
        gap: 03px !important;
    }
    main .filtros-data input{
        width: 80px;
        display: flex !important;
        font-size: 12px !important;
        gap: 3px !important;
    }
    main .materias{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 5px!important;
    }

    main .materias #select{
        font-size: 12px;
        padding-left: 0px !important;
        width: 90px !important;
    }
    main .tabela-conteudo{
        padding: 0 3px !important;
    }
    .tabelas #data{
        padding: 0 !important;
        width: 90px !important;
    }
    main .tabelas{
        font-size: 14px !important;
    }
}