aside{
    position: absolute !important;
    top: 0 !important;
}
.sidebar:not(.active) > .nav > .item-sidebar > ul{
    width: 200px !important;
}

.imagemMenu{
    width: 50vh;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 2vh !important;

}
.itemMenu{
    padding-right: 0vh !important; 
    margin-bottom: 5vh !important;


}

.labelImagem{
    font-size: 16px !important;
    color: #011633 !important;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    main{
        margin-top: 52vh !important;
    }
    .imagemMenu{
        width: 35vh;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        margin-bottom: 2vh !important;
    
    }
}

@media screen and (max-width: 600px) {
    main{
        margin-top: 52vh !important;
    }
    .imagemMenu{
        width: 35vh;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        margin-bottom: 2vh !important;
    
    }

}