body{
    background-color: white !important;
}

#cabecalho {
    background-color: white !important;
    width: 100% !important;
    position: absolute;
    top: 0px;

}

.sidebar {
    top: 15vh;
    position: absolute;
}
nav{
    background-color: white !important;
}

#dvCabecalho{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-left: 20px;
    margin-right: 15px;

}

#navbarNavDropdown {
    display: flex !important;
    flex-grow: 0 !important;
    flex-basis: 0% !important;
}

#infoCabecalho p {
    display: block;
    font-family: 'Sanchez', sans-serif;
}

#infoCabecalho a {
    display: block;
    color: #011633 !important;
    padding-bottom: 15px;
}

#tipoUsuario {
    font-size: 14px !important;
    color: #011633 !important;
}

.dropdown-item{
    color: #011633 !important;
}

#matricula {
    margin-top: -20px;
    font-size: 14px !important;
    color: #0116336b !important;
}

#profileImage{
    border-radius: 100%; 
    width: 8vh; 
    height: 8vh;
    box-shadow: 2px 2px 5px rgba(1, 22, 51, 0.4);
}

#chatIcone{
    border-radius: 100%; 
    width: 5vh; 
    height: 5vh;
}

#imagemIcone{
    width: 80%;
    height:80%;
}