form , label {
    margin-right: 10px !important;
}

#formCadastro{
    width: 100% !important;
    justify-content: center;
    text-align: center;
}

#formCadastro > form > div{
    padding: 2.5vh !important;
}

main .botaoCadastro {
    background-color: #011633 !important;
    color: #ffffff !important;
    text-decoration: none !important;
    width: 100px !important;
    height: 37px !important;
    font-size: 16px !important;
    outline: none !important;
    border-radius: 8px !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    flex-shrink: 0 !important; 
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: #ffffff;
    border: 2px solid #011633;
    color: #011633;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    width: 25vh !important;
}

.dropbtnTextArea{
    background-color: #ffffff;
    border: 2px solid #011633;
    color: #011633;
    border-radius: 5px;
    width: 60vh !important;
    height:20vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dvDesc{
    margin-top: 3vh !important
}



