  
  .sidebar {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar div>a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar div>a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 600px) {
    .sidebar{
        margin-top: -50vh;
    }
    .sidebar div a {
      text-align: center;
      float: none;
    }
    .sidebar div p{
        text-align: center;
        float: none;
    }
  }

  .sidebarTitle{
    margin-bottom: 0px;
    font-size: 14px !important;
    color: #011633 !important;
    font-weight: 600;
  }

  #app{
    margin-bottom: 30px;
  }

  .iconeSideBar{
    margin-right: 5px;
  }


